<h1>Privacy Policy</h1>

<h2>Usage of data</h2>

<div>
    The bot may use stored data, as defined below, for most of its features.
    <br>
    Data is not shared with any 3rd-party site or service.
</div>

<h2>Stored information</h2>

<h3>Servers</h3>

<div>
    The bot may store the following information about a server:
</div>

<ul>
    <li><code>serverId</code>: The server's ID</li>
    <li><code>commandChannels</code>: IDs of channels of the server where users are able to use the bot's commands</li>
    <li><code>roles</code>: IDs of roles that have been set to be automatically given to users by the bot on certain
        events</li>
    <li><code>dropBlacklist</code>: IDs of channels of the server where the bot's drop feature is disabled</li>
    <li><code>xpBlacklist</code>: IDs of channels of the server where the bot's ranking system is disabled</li>
</ul>

<h3>Users</h3>

<div>
    The bot may store the following information about a user:
</div>

<ul>
    <li><code>userId</code>: The user's ID</li>
</ul>

<div>
    No other Discord-related information outside of the above mentioned will be stored.
</div>

<h2>Updating data</h2>

<div>
    The data may be updated when using specific commands or features of the bot.
    <br>
    Updating data will require the input of an end user, and data that can be seen as sensitive, such as content of a
    message, may need to be stored when using certain commands.
</div>

<h2>Removal of data</h2>

<div>
    Manual removal of the data can be requested through the bot's official <a
        href="https://discord.gg/u4TzFyHWu4">support server</a>.
    <br>
    For security reasons the owner of the bot will ask you to provide us with proof of ownership of the server, that you
    wish the data to
    be removed of. Only a server owner may request manual removal of data and requesting it will result in the bot being
    removed from the server, if still present on it.
</div>