<h1>Terms of Service</h1>

<h2>Agreement</h2>

<div>
    By inviting BrickGamerBot ("the bot") to your server or by using its features on any other server, you agree to this
    Terms of Service ("the Terms") and also the bot's <a routerLink="/pp">Privacy Policy</a>. You also agree to the
    <a href="https://discord.com/terms">Terms</a>, <a href="https://discord.com/privacy">Privacy Policy</a> and <a
        href="https://discord.com/guidelines">Community Guidelines</a> of <a href="https://discord.com">Discord</a>
    itself.
    <br>
    You have the right to freely invite the bot to any server you have Manage Server permission in.
    <br>
    By inviting the bot to a server and using it, it collects some data as described in its <a routerLink="/pp">Privacy
        Policy</a>.
</div>

<h2>Affiliation</h2>

<div>
    The bot is not affiliated with, supported or made by Discord.
    <br>
    Any direct connection to Discord or any of its Trademark objects is purely coincidental. The owner of the bot does
    not claim to have the
    copyright ownership of any of Discord's assets, trademarks or other intellectual property.
</div>

<h2>Liability</h2>

<div>
    The owner of the bot may not be made liable for individuals breaking these Terms at any given time.
    <br>
    The owner of the bot reserves the right to update these terms at his own discretion, giving you a 1-week (7 days)
    period to opt out of
    these terms if you're not agreeing with the new changes.
    <br>
    You may opt out by removing the bot from any server you have the rights for.
</div>

<h2>Contact</h2>

<div>
    People may get in touch with the owner of the bot through the official <a
        href="https://discord.gg/u4TzFyHWu4">support server</a>.
    <br>
    Other ways of support may be provided but aren't guaranteed.
</div>