<div class="container justify-content-center align-middle">
    <div class="row">
        <div class="card col-3" *ngFor="let guild of guilds">
            <a *ngIf="botGuildIds.includes(guild.id)" [routerLink]="'/dashboard/' + guild.id">
                <img class="rounded mx-auto d-block" *ngIf="guild.icon" [src]="'https://cdn.discordapp.com/icons/' + guild.id + '/' + guild.icon + '.png'" [alt]="guild.name">
                <div *ngIf="!guild.icon">{{guild.name}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{guild.name}}</h5>
                </div>
            </a>
            <a id="nobot" *ngIf="!botGuildIds.includes(guild.id)" [href]="'https://discord.com/api/oauth2/authorize?client_id=826348423082803230&permissions=268823616&scope=bot%20applications.commands&guild_id=' + guild.id">
                <img class="rounded mx-auto d-block" *ngIf="guild.icon" [src]="'https://cdn.discordapp.com/icons/' + guild.id + '/' + guild.icon + '.png'" [alt]="guild.name">
                <div *ngIf="!guild.icon">{{guild.name}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{guild.name}}</h5>
                </div>
            </a>
        </div>
    </div>
</div>